.card{
                         display:flex;
                         align-items:center;
                         justify-content:center;
                        
                         flex-direction: column;
                         margin-top: -35rem;
                         margin-left:15rem;
                         height: 450px;
                         width: 70%;
                         
                         
}
.input{
                         display: flex;
                        
                         
                         justify-content: center;
                         width: 90%;
                         height: 80%;
                        
                         
                        
}
.form{
                       
                         display: flex;
                         justify-content: center;
                         align-items: flex-start;
                         gap:2rem;
                         flex-direction: column;
                         width:100%;
}
/* .form>div{
                         
                         
} */